<style type='text/css'>
    .client {
        float: left;
    }

    .thumbnail {
        -webkit-border-radius: 20px;
        border-radius: 20px;
        padding: 20px;
    }
</style>

<div class='client-list'>
    <% @clients.each do |client| %>
        <div class='client'>
            <div class='thumbnail'>
                <img src="data:image/jpg;base64,<%= client.thumbnail %>" />
            </div>

            <span class='name'>
                <a href='/<%= client.id %>'><%= client.name %></a>
            </span>

            <span class='activity'>
                <b>Last Activity: </b>
                <%= client.last_activity %>
            </span>
        </div>
    <% end %>
</div>
