<div id='group-form' class='text-center'>
    <h1>Edit Group</h1>

    <form action='/groups/<%= @group.primary_key %>/update' method='post' role='form'>
        <%= erb :'groups/_form' %>
    </form>
</div>
