<p>Client Management</p>

<p><%= @client.id %></p>

<form action='/clients/<%= @client.id %>/update' method='post'>
    <input type='text' name='name' value='<%= @client.name %>'>

    <input type='submit'>
</form>
