<div id='client'>
    <div id='time'></div>

    <div class='img-container <%= 'inactive' unless @client.active? %>'>
        <img src="data:image/jpg;base64,<%= @client.image %>" class='img-responsive' />
    </div>

    <div class='name'>
        <%= @client.display_name %>
    </div>

    <br>

    <a href='/' class='btn btn-lg btn-primary'>Back to home</a>
</div>

<script type='text/javascript'>
    $(document).ready(function(){
        last_time = $.now();
        update = true;

        setInterval(function(){
            if (update) {
                update = false;

                $.get("<%= @client.id %>/image", function(data){
                    if (data == 'redirect') {
                        document.location = '/';
                    } else {
                        $('img').attr('src', data);

                        $('#time').html(($.now() - last_time)/1000 + 's');
                        last_time = $.now();

                        update = true;
                    }
                });
            }
        }, 50);
    });
</script>
